@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    direction: rtl;
    font-family: 'Lateef';
    box-sizing: border-box;
    
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}


footer{
    margin-top: auto;
    position: absolute;
    bottom: 0;
    top: 50%;
    
}

input {
    border:0;
    outline:0;
    border-width:0px;
    border:none;
}

input:focus {outline:none!important;}


@layer components{
    .mobile{
        @apply md:hidden flex items-center justify-between p-4 text-white fixed top-0 w-full z-20
    }

    .desktop{
        @apply hidden md:flex md:items-center md:justify-between md:text-white md:mx-4 md:min-w-fit
    }

    .mobile-menu{
        @apply  md:hidden w-full absolute -top-12 pt-12 bg-white shadow-lg rounded-b-3xl text-2xl z-10
    }
}