@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    direction: rtl;
    font-family: 'Lateef';
    box-sizing: border-box;
    
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

footer{
    margin-top: auto;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    
}

input {
    border:0;
    outline:0;
    border-width:0px;
    border:none;
}

input:focus {outline:none!important;}


@layer components{
    .mobile{
        @apply md:hidden flex items-center justify-between p-4 text-white z-50
    }

    .desktop{
        @apply hidden md:flex md:items-center md:justify-between md:text-white md:mx-4
    }

    .mobile-menu{
        @apply  md:hidden w-full absolute top-0 pt-20 bg-white shadow-lg rounded-b-3xl text-lg z-[-1]
    }
}